.genome-table-container {
    width: 100%;
    padding: 15px;
  }
  
  .search-container {
    margin-bottom: 15px;
  }
  
  .search-input {
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
  }
  
  .table-responsive {
    border-radius: 4px;
    overflow-x: auto;
    width: 100%;
    display: block;
    -webkit-overflow-scrolling: touch;
  }
  
  table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #d7cfe6;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }
  
  .pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-pagination {
    background-color: #b2a3cc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    display: inline-flex;  /* Añade esta línea */
    align-items: center;   /* Añade esta línea */
    justify-content: center;  /* Añade esta línea */
    height: 38px;  /* Opcional: establece una altura fija */
    vertical-align: middle;
  }
  
  .btn-pagination:hover:not(:disabled) {
    background-color: #664299;  /* Un tono ligeramente más oscuro para el hover */
  }
  
  .btn-pagination:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  
  .page-number {
    font-weight: bold;
    color: #666;
  }
  
  .page-size-selector {
    display: flex;
    align-items: center;
  }
  
  .page-size-selector {
    margin-top: 10px;
    width: 200px;  /* O ajusta según el espacio disponible */
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  } 

  select {
    display: inline-block;
    width: 100%;
    padding: 10px;
  }
  