.genome-table-container {
    width: 100%;
    padding: 15px;
    margin-bottom: 40px;
  }
  
  .search-container {
    display: flex ;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }
  
  .search-input {
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
  }
  
  .table-responsive {
    border-radius: 4px;
    overflow-x: auto;
    width: 100%;
    display: block;
    -webkit-overflow-scrolling: touch;
  }
  
  table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #d7cfe6;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 60px;
  }
  
  .pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-pagination {
    background-color: #b2a3cc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    display: inline-flex;  /* Añade esta línea */
    align-items: center;   /* Añade esta línea */
    justify-content: center;  /* Añade esta línea */
    height: 38px;  /* Opcional: establece una altura fija */
    vertical-align: middle;
  }

  .btn-search {
    background-color: #b2a3cc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    display: inline-flex;  /* Añade esta línea */
    align-items: center;   /* Añade esta línea */
    justify-content: center;  /* Añade esta línea */
    height: 38px;  /* Opcional: establece una altura fija */
    vertical-align: middle;
  }
  
  .btn-pagination:hover:not(:disabled) {
    background-color: #664299;  /* Un tono ligeramente más oscuro para el hover */
  }

  .btn-search:hover:not(:disabled) {
    background-color: #664299;  /* Un tono ligeramente más oscuro para el hover */
  }
  
  .btn-pagination:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  
  .page-number {
    font-weight: bold;
    color: #666;
  }
  
  .page-size-select {
    background-color: #b2a3cc; /* Color de fondo similar a los botones */
    color: white; /* Texto blanco como los botones */
    border: none; /* Sin borde para una apariencia más limpia */
    padding: 8px 16px; /* Espaciado interno consistente */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 14px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave al interactuar */
    display: inline-flex; /* Alineación vertical y horizontal */
    align-items: center;
    justify-content: center;
    height: 38px; /* Altura consistente con los botones */
    max-width: 80px;
  }

  .page-size-select:hover {
    background-color: #664299; /* Color más oscuro en hover */
  }
  
  .page-size-select:focus {
    outline: none; /* Elimina el contorno de enfoque predeterminado */
    box-shadow: 0 0 3px #664299; /* Añade un efecto de sombra */
  }
  
  .filter-select {
    background-color: #b2a3cc; /* Color de fondo similar a los botones */
    color: white; /* Texto blanco como los botones */
    border: none; /* Sin borde para una apariencia más limpia */
    padding: 8px 16px; /* Espaciado interno consistente */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 14px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave al interactuar */
    display: inline-flex; /* Alineación vertical y horizontal */
    align-items: center;
    justify-content: center;
    height: 38px; /* Altura consistente con los botones */
    max-width: 100px;
  }
  
  .filter-select:hover {
    background-color: #664299; /* Color más oscuro en hover */
  }
  
  .filter-select:focus {
    outline: none; /* Elimina el contorno de enfoque predeterminado */
    box-shadow: 0 0 3px #664299; /* Añade un efecto de sombra */
  }
  
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  } 

  .navbar {
    color: white;
    padding: 10px 0;
  }


  .pagination-container {
    display: flex ;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }

  .search-time-container {
    display: flex ;
    gap: 10px;
    margin-bottom: 5px;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    margin-left: 20px;
    font-weight: bold;
    color: #666;
  }
