/* app.component.css */

/* Estilo para el contenedor de contenido principal */
.content {
    background: #f3e5f5; /* Fondo de color lila claro */
    color: #333333; /* Color del texto (oscuro para contraste) */
    background: #f3e5f5;
  }
  