/* app.component.css */

/* Estilo para el contenedor de contenido principal */
.content {
    background: #f3e5f5; /* Fondo de color lila claro */
    color: #333333; /* Color del texto (oscuro para contraste) */
    position: fixed;
  }
  

/*
footer totalmente abajo
*/

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
  }
  
  /* Estilo para el contenedor de contenido principal */